ansible==8.2.0
ansible-core==2.15.2
ansible-runner==2.3.3
asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
crispy-bootstrap4==2022.1
cryptography==41.0.3
Django==4.2.3
django-crispy-forms==2.0
django-session-timeout==0.1.0
docopt==0.6.2
docutils==0.20.1
idna==3.4
ipaddress==1.0.23
Jinja2==3.1.2
lockfile==0.12.2
lxml==4.9.3
MarkupSafe==2.1.3
nsx-policy-python-sdk @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/nsx-policy-python-sdk/nsx_policy_python_sdk-4.1.0.1.0-py2.py3-none-any.whl#sha256=c8614ba87c80061733c840dc37b31912d3377a77502b34783c9322126e4f3182
nsx-python-sdk @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/nsx-python-sdk/nsx_python_sdk-4.1.0.1.0-py2.py3-none-any.whl#sha256=6525d26a21c611d0b6975bd57dbecfeb2befa7ae5c4af5f46500bf1ed2b90e40
nsx-vmc-aws-integration-python-sdk @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/nsx-vmc-aws-integration-python-sdk/nsx_vmc_aws_integration_python_sdk-4.1.0.1.0-py2.py3-none-any.whl#sha256=beb33de71c4cc1251537d1a6d84470eac1d56abec97081df753e8d23b84e2d3e
nsx-vmc-policy-python-sdk @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/nsx-vmc-policy-python-sdk/nsx_vmc_policy_python_sdk-4.1.0.1.0-py2.py3-none-any.whl#sha256=0e2a9badd2a63bed91b32eacda6037b6a62dd7dd832f8ce3200bd83b49fc6ca7
numpy==1.25.1
packaging==23.1
pandas==2.0.3
pexpect==4.8.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pycparser==2.21
pyflakes==3.1.0
Pygments==2.15.1
pyOpenSSL==23.2.0
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pyvmomi==8.0.1.0.2
PyYAML==6.0.1
requests==2.31.0
resolvelib==1.0.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vapi-common-client @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/vapi-common-client/vapi_common_client-2.40.0-py2.py3-none-any.whl#sha256=3fb538f8339f1c6475739f740d4a199f13a677554fdad10cc9f240bbc4755dd5
vapi-runtime @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/vapi-runtime/vapi_runtime-2.40.0-py2.py3-none-any.whl#sha256=89ac5f61858d6a3a452b8ba28e64da7956aeb25e530ee17d1ad1c6c256df49f6
vcenter-bindings @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/vcenter-bindings/vcenter_bindings-4.1.0-py2.py3-none-any.whl#sha256=3019a76128019e2b31066e03307eff415e8d34e96ac5589c81e73dbac3834cc3
vmc-client-bindings @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/vmc-client-bindings/vmc_client_bindings-1.62.0-py2.py3-none-any.whl#sha256=2db4a3bb7a848ef81af9fe13aa4df41554ab660dd78e263a1a12317b799e2d7d
vmc-draas-client-bindings @ file://localhost//tmp/pip-req-build-6zb8p_0c/lib/vmc-draas-client-bindings/vmc_draas_client_bindings-1.21.0-py2.py3-none-any.whl#sha256=6648ae3dc4078533b349b799410103ef46739ea07b9ecde767bacedc3ce78705
vsphere-automation-sdk @ git+https://github.com/vmware/vsphere-automation-sdk-python.git@99987e25615e96414449a986b8b2df8e75e8651e
wcwidth==0.2.6
