{% extends "forms/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container form-container">
<div class="content-section">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="bordered-bottom mb-4">Sign in</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button class="btn btn-outline-info" type="submit">Sign in</button>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}" class="" style="margin-left: 10px;">Forgot Password ?</a>
            </small>
        </div>
    </form>
    
</div>
</div>
{% endblock content %}