{% extends "forms/base.html" %}
{% block content %}  
<h1>VM Requests</h1>
<div class="block-button"><a href="{% url 'new_vm' %}" class="btn btn-primary btn-lg btn-block">New VM Request</a>  
</div>
<div class='table-responsive'>
  <table class="table table-striped mytable">
      <thead>
      <tr>
          <th scope="col">Course Number</th>
          <th scope="col">Course Name</th>
          <th scope="col">Instructor Name</th>
          <th scope="col">TA Name</th>
          <th scope="col">Semester</th>
          <th scope="col">Year</th>
          <th scope="col">Os</th>
          <th scope="col">IP_address</th>
      </tr>
      </thead>
      <tbody>
        {% for request in vm_requests %}
      <tr>
          <td>{{request.course_number}}</td>
          <td>{{request.course_name}}</td>
          <td>{{request.instructor_name}}</td>
          <td>{{request.ta_name}}</td>
          <td>{{request.semester}}</td>
          <td>{{request.year}}</td>
          <td>{{request.os}}</td>
          <td>{% for vm in request.vm_set.all %}
            {{vm.ip_addr}}{% if not forloop.last%},{% endif%}
            {% endfor%}
          </td>
        </tr>
        
     
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content%}
 
    
   

  
